body {
  /* overflow: hidden; */
  color: black;
  margin:0px;
  padding:0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #C80077;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn {
  background-color: #C80077;
  border: #C80077;
}

.tab-pane {
 min-height: 600px;
 margin-right: 20px;
}

#app-container {
  width:100vw;
  margin:0px;
  padding:0px;
  background-color:white;
}

#header {
  height: 152px;
  background-image: url("../images/header-bg.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size:auto;
  background-color: #0F0027;
}

#navigation {
  background-color: #0F0027;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 0px;
}

#owner {
  font-size: 14px;
  color: white;
  margin-right: 10px;
}

#affiliate-input {
  margin: 20px;
}

#affiliate-gym-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width:100%;
  margin: 20px;
  height: auto;
}

.card {
  margin-right:20px;
  margin-bottom:20px;
  color:black;
}
.aff-gym-card .header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.aff-gym-card .card-title {
  font-size: 16px;
  font-weight: 600;
}

.aff-gym-card .card-text {
  font-size: 14px;
}
.aff-gym-card .card-link{
  margin-top:10px;
  margin-bottom:20px;
  font-size: 14px;
}

.registered-gym-header {
  margin: 20px;
  margin-top: 75px;
}

.member-container {
  margin:20px;
}

#qrcode {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-pills .nav-link {
  background-color: black;
  color: white;
  border-radius: 0;
}

.nav-pills .nav-link.active {
  background-color: white;
  color: black;
}

.address-container {
  padding-right: 35px;
}

.modal-dialog {
  padding-top: 15%;
}

.modal-title {
  font-size: 16px;
}

.wod-grid {
  background-color: white;
}

.wod-flex-cont {
 display: flex;
 width: 100%;
 justify-content: space-between;
}

.wod-flex-cell {
  margin-right: 50px;
}

.wod-flex-cell .card-title {
  font-weight: 600;
}

.wod-flex-cell .card-text {
}